#code {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    overflow: auto;
}

.copy-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #3e8e41;
}

#copy-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    color: #d9e698;
    font-size: 16px;
    display: none;
}

#copy-success {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}