.sub2menu {
    display: none;
}
.sub2menu.show {
    display: block;
}
.sub3menu {
    display: none;
}
.sub3menu.show {
    display: block;
}
.sub4menu {
    display: none;
}
.sub4menu.show {
    display: block;
}
.sub5menu {
    display: none;
}
.sub5menu.show {
    display: block;
}
.sub6menu {
    display: none;
}
.sub6menu.show {
    display: block;
}
.sub7menu {
    display: none;
}
.sub7menu.show {
    display: block;
}
.btn-primary {
    background-color: #428bca;
    border-color: #428bca;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}
.main-content {
    position: relative;
    background-color: #ffffff;
    z-index: 2;
    padding-top: 0px;
    box-shadow: 0px -5px 25px -10px #0000FF;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}