@charset "utf-8";

body {
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 10px;
    margin-top: 0;
    color: rgba(50, 50, 50, 1);
    background-color: rgba(250, 250, 250, 1)
}

section {
    height: 100vh;
    background-color: rgba(255, 179, 179, 0.2);
    border: none
}

header {
    position: sticky;
    top: 10px;
    z-index: 9999;
    height: 2em;
    font-size: 1.8em;
    padding: 0.25em 45px;
    padding-top: 0.5em;
    display: grid;
    align-items: center;
    background-color: rgba(240, 240, 235, 1);
    border-radius: 15px 15px 0px 0px
}

.header-container {
    height: calc(100% - 0.4em);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-container:after {
    border-bottom: 1.5px solid rgba(45, 45, 40, 1);
    content: "";
    left: 45px;
    position: absolute;
    top: 100%;
    width: calc(100% - 90px);
    z-index: 9999
}

.header-container.hide-line:after {
    display: none
}

.logo-words-couple {
    display: flex;
    gap: 0.75em;
    padding: 0em 0em;
    justify-items: center
}

.page-title-words-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.page-title-words {
    font-size: 1em
}

.header-nav {
    height: auto
}

.header-menu-wrapper {
    display: flex;
    flex-direction: row
}

.header-menu {
    display: flex;
    flex-direction: row;
    font-size: 0.5em
}

.nav-toggle {
    font-size: 28px;
    background: none;
    color: rgba(55, 55, 55, 1);
    border: none;
    cursor: pointer;
    padding: 0
}

.nav-toggle {
    display: none
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(240, 240, 235, 0.96);
    display: none;
    justify-content: flex-start;
    z-index: 1000;
    flex-direction: column
}

.overlay-menu {
    list-style: none;
    text-align: right;
    height: 2em;
    z-index: 1000;
    right: 1em
}

.overlay-menu-item {
    padding-right: 40px;
    justify-content: right
}

.close-btn {
    font-size: 40px;
    color: rgba(55, 55, 55, 1);
    background: none;
    border: none;
    cursor: pointer;
    text-align: right;
    padding-right: 40px
}

@media (max-width:768px) {
    .header-menu {
        display: none
    }

    .nav-toggle {
        display: flex
    }
}

@media (max-width:768px) {
    .page-title-words {
        font-size: 0.65em
    }
}

ul {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    font-weight: 300
}

main {
    min-height: 100vh;
    display: grid;
    padding: 1em 45px;
    background-color: rgba(240, 240, 235, 1);
    border-radius: 0px 0px 15px 15px
}

.quote {
    padding: 5em 15px;
    padding-bottom: 12em;
    display: grid
}

.quote-inner {
    display: flex;
    justify-content: end
}

.quote-wrapper {
    margin: 0em
}

.quote-content {
    font-size: 3.5em;
    text-align: left;
    font-style: italic
}

.quote-content-sub {
    font-size: 1.5em;
    text-align: left
}

chinese-words {
    font-family: "source-han-serif-tc", serif;
    font-weight: 400;
    font-style: normal
}

.stories {
    display: grid
}

.stories:before {
    border-bottom: 1.5px solid rgba(45, 45, 40, 0.2);
    content: "";
    left: 0px;
    position: relative;
    width: calc(100% - 0px);
    z-index: 9998
}

.highlight-title-container {
    padding: 1em 15px
}

.recent-highlight {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(2em, auto);
    grid-gap: 1.5em;
    box-sizing: border-box;
    grid-auto-flow: dense
}

.highlight-title-container {
    height: 100%;
    align-items: center;
    display: flex
}

.highlight-title {
    height: 2em;
    font-size: 2em
}

.highlight-words {
    background-color: rgba(255, 230, 0, 0.45);
    padding: 0px 0.25em;
    font-style: normal
}

.highlight-container {
    background-color: rgba(96, 190, 163, 0.5)
}

.highlight-story1 {
    grid-column: 1/7;
    grid-row: 1/7;
    aspect-ratio: 1/1
}

.highlight-story2 {
    grid-column: 7/13;
    grid-row: 1/7;
    aspect-ratio: 1/1
}

.highlight-story3 {
    grid-column: 1/7;
    grid-row: 7/13;
    aspect-ratio: 1/1
}

.highlight-story4 {
    grid-column: 7/10;
    grid-row: 7/10
}

.highlight-story5 {
    grid-column: 10/13;
    grid-row: 7/10
}

.highlight-story6 {
    grid-column: 7/13;
    grid-row: 10/13
}

@media (max-width:768px) {
    .recent-highlight {
        grid-template-columns: repeat(6, 1fr)
    }

    .highlight-story1 {
        grid-column: 1/7;
        grid-row: 1/7
    }

    .highlight-story2 {
        grid-column: 1/7;
        grid-row: 7/13
    }

    .highlight-story3 {
        grid-column: 1/7;
        grid-row: 13/19
    }

    .highlight-story4 {
        grid-column: 1/4;
        grid-row: 19/22;
        aspect-ratio: 1/1
    }

    .highlight-story5 {
        grid-column: 4/7;
        grid-row: 19/22;
        aspect-ratio: 1/1
    }

    .highlight-story6 {
        grid-column: 1/7;
        grid-row: 22/28;
        aspect-ratio: 1/1
    }
}

.page-end {
    padding: 1em 15px;
    min-height: 25vh
}

footer {
    align-items: center;
    padding: 2em 45px
}

.foot-container {
    text-align: center
}

.copy-right {
    color: rgba(55, 55, 55, 0.85)
}

@media (max-width:768px) {
    footer {
        padding: 20px
    }
}

.home-tag-blue {
    border: solid 1.5px rgba(74, 172, 221, 0.16);
    background-color: rgba(127, 205, 244, 0.20);
    border-radius: 15px;
    padding: 0 6px;
    font-size: larger
}

.home-tag-red {
    border: solid 1.5px rgba(234, 20, 20, 0.16);
    background-color: rgba(208, 67, 65, 0.2);
    border-radius: 15px;
    padding: 0 6px;
    font-size: larger
}

.home-tag-orange {
    border: solid 1.5px rgba(234, 116, 20, 0.16);
    background-color: rgba(208, 144, 65, 0.2);
    border-radius: 15px;
    padding: 0 6px;
    font-size: larger
}

.home-tag-green {
    border: solid 1.5px rgba(84, 221, 74, 0.16);
    background-color: rgba(108, 195, 100, 0.2);
    border-radius: 15px;
    padding: 0 6px;
    font-size: larger
}

.home-tag-yellow {
    border: solid 1.5px rgba(203, 222, 61, 0.16);
    background-color: rgba(189, 201, 103, 0.2);
    border-radius: 15px;
    padding: 0 6px;
    font-size: larger
}

.home-tag-brown {
    border: solid 1.5px rgba(173, 61, 61, 0.16);
    background-color: rgba(164, 103, 102, 0.2);
    border-radius: 15px;
    padding: 0 6px;
    font-size: larger
}

.home-stressed-point {
    color: rgb(55, 55, 55);
    font-weight: 800;
    text-decoration: wavy
}

.page-layout-justify {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1.5em;
    grid-auto-rows: minmax(200px, auto);
    margin-top: 1em
}

.box1 {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: transparent
}

.box1-content-container {
    position: sticky;
    top: calc(2em + 90px);
    height: auto;
    border-radius: 10px;
    background-color: rgba(149, 171, 213, 0.25)
}

.box2 {
    grid-column: 4/9;
    display: grid;
    grid-gap: 1em;
    background-color: transparent;
    border-radius: 10px;
    height: auto
}

@media (max-width:768px) {
    .page-layout-justify {
        grid-template-columns: repeat(4, 1fr)
    }

    .box1 {
        grid-column: 1/5;
        grid-row: 1/2
    }

    .box2 {
        grid-column: 1/5
    }
}

.bio-info-container {
    margin: 1em 1em;
    padding: 0em 0em;
    background-color: transparent
}

.my-name {
    padding-left: 0.5em
}

.english-name {
    padding-top: 0.5em;
    font-size: 1.55em
}

.chinese-name {
    font-size: 1.35em
}

.content-list {
    margin: 1em 1em;
    margin-top: 0em;
    padding: 0em 0em;
    font-size: 1.35em;
    background-color: transparent;
    color: rgba(32, 60, 74, 0.9)
}

.portfolio-content-list {
    height: auto
}

.list-item {
    height: auto;
    line-height: 2;
    justify-content: end
}

.content-container {
    padding: 1em 1em;
    padding-top: 2em;
    min-height: 100px;
    font-size: 1.1em;
    background-color: rgba(149, 171, 213, 0.25);
    border-radius: 10px;
    display: grid;
    grid-gap: 0.5em
}

.empty-container {
    background-color: transparent
}

.content-container-title {
    font-size: 1.35em;
    text-align: right;
    height: 2em;
    color: rgba(32, 60, 74, 0.9)
}

@media (max-width:768px) {
    main {
        padding: 1em 20px
    }

    header {
        padding: 0.25em 20px
    }

    .header-container:after {
        left: 20px;
        width: calc(100% - 40px)
    }

    .highlight-title {
        font-size: 1.5em
    }

    .content-container-title {
        font-size: 1.1em
    }

    .edu-name {
        font-size: 0.8em
    }

    .edu-time {
        font-size: 0.75em
    }
}

.edu-history {
    background-color: transparent;
    padding-bottom: 1em
}

.edu-name {
    font-size: larger;
    font-weight: 500
}

.edu-time {
    text-align: right;
    color: rgba(93, 59, 58, 0.95)
}

.edu-wrapper {
    padding-left: 1em
}

.edu-achievement {
    font-style: italic
}

.grey-bubble {
    border: none;
    background-color: rgba(60, 60, 55, 0.15);
    border-radius: 15px;
    padding: 0 6px;
    white-space: nowrap
}

.edu-courseworks {
    line-height: 1.6
}

.sub-division-topic {
    padding-left: 2em
}

.project-page-layout-justify {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1.5em;
    grid-auto-rows: minmax(200px, auto);
    margin-top: 1em
}

.pbox1 {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: transparent
}

.pbox1-content-container {
    position: sticky;
    top: calc(2em + 90px);
    height: auto;
    background-color: transparent
}

.pbox2 {
    grid-column: 4/10;
    display: grid;
    grid-gap: 1em;
    background-color: transparent;
    border-radius: 10px;
    height: auto
}

@media (max-width:768px) {
    .project-page-layout-justify {
        grid-template-columns: repeat(4, 1fr)
    }

    .pbox1 {
        grid-column: 1/5;
        grid-row: 1/2
    }

    .pbox2 {
        grid-column: 1/5
    }
}

html {
    scroll-padding-top: 100px
}